body
  padding: 0 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

p.test {
  background-color: red;
}

.bpt-dashboard > .container-fluid
  padding-right 0px
  padding-left 0px

#map-panel
  height: 400px
  /* width: 600px */
  border: 1px solid
  border-radius: 6px
  // border-color: #337ab7

/**
 * Info Panel widget styles
 */
.bpt-info-panel

  .list-group
    height: 200px

  .nav
    margin-bottom: 15px

  .alert
    margin-bottom: 15px


  .bpt-list-group
    /*
    a:nth-child(odd)
      background-color: red;
    */

    .list-group-item
      padding: 2px;
      .list-group-item-heading
        margin: 10px 15px;
    .label-default
      background-color: #b5b5b5


/*
 .. a.list-group-item:hover
color: #555;
text-decoration: none;
background-color: #f5f5f5;


a.list-group-item:focus,
button.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

 */
