body
  padding: 0 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

p.test {
  background-color: red;
}

.bpt-dashboard > .container-fluid
  padding-right 0px
  padding-left 0px

#geo-map
  height: 400px
  width: 600px
  border: 1px solid
  border-radius: 6px
  // border-color: #337ab7

.bpt-event-container

  .list-group
    height: 200px

  .nav
    margin-bottom: 15px

.bpt-event-items
  .list-group-item
    padding: 2px;
    .list-group-item-heading
      margin: 10px 15px;
  .label-default
    background-color: #b5b5b5
