body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
p.test {
  background-color: #f00;
}
.bpt-dashboard > .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
#geo-map {
  height: 400px;
  width: 600px;
  border: 1px solid;
  border-radius: 6px;
}
.bpt-event-container .list-group {
  height: 200px;
}
.bpt-event-container .nav {
  margin-bottom: 15px;
}
.bpt-event-items .list-group-item {
  padding: 2px;
}
.bpt-event-items .list-group-item .list-group-item-heading {
  margin: 10px 15px;
}
.bpt-event-items .label-default {
  background-color: #b5b5b5;
}
