doctype html
html
  head
    title= title
    // https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
    // https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js

    link(rel='stylesheet', type='text/css', href='/css/bootstrap-3.3.7.min.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='https://unpkg.com/leaflet@1.0.2/dist/leaflet.css')
    link(rel='stylesheet', type='text/css', href='/css/font-awesome-4.7.0.min.css')

    script(type='text/javascript', src='/js/jquery-1.12.4.js')
    script(type='text/javascript', src='/js/bootstrap-3.3.7.js')
    script(type='text/javascript', src='https://unpkg.com/leaflet@1.0.2/dist/leaflet.js')

  body.bpt-dashboard
    block content
